# Go tmp files
*.test
*.out
*.exe
*.exe~
*.dll
*.so
*.dylib
*.tmp
*.log
/bin/*

# Build Directories
bin/
build/
dist/
coverage.out

# Go modules cache
vendor/
.gocache/
*.coverprofile

# IDE tmp files
.vscode/
.idea/
*.iml
*.swp
*.swo
*.bak

# JetBrains IDEs
*.ipr
*.iws
*.ids
*.orig

# MacOS
.DS_Store

# Autres fichiers temporaires
*~
/config/config.development.json
