{
  "DirPaths": {
    "Available": {
      "Server": "/a/server/dir/path",
      "Desktop": "/a/desktop/dir/path",
      "Current": "."
    },
    "Default": "/a/server/dir/path"
  },
  "Languages": {
    "Available": {
      "French": "French",
      "English": "English"
    },
    "Default": "French"
  },
  "SubtitleExtension": "srt"
}